*{
    margin: 0px;
}
html {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #364552;
    color: wheat;
    
}

header h1 {

    font-size: 45px;
    text-align: center;
    padding: 20px;
    
}

body {
    margin: 0;
    background-color: #efefef;
}

nav {
   
    background-color:
    #c1c9ba ;
}
nav ul{
    list-style: none;
    padding: 0px;
    text-align: center;
}
nav ul li{
    display: inline;
}
nav ul li a{
    font-size: 28px;
    text-decoration: none;
    padding: 8px 10px;
    display: inline-block;
    color: #31312c;
}
nav ul li a:hover{
    background-color:#d4caba;
}

.seccion {
    width: 400px;
    margin: 0 auto;
}

section article {
    transition: box-shadow 0.3s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);

}

section article h2,
section article p {
    margin: 1rem;
}

footer {
    background-color: #222;
    padding: 3rem;
    color: white;

}

footer section {
    float: right;
}

footer p {
    margin: 0px;
}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
    margin: 10px;

}

footer a:hover {
    color: wheat;
}
@media(max-width:650px){
    #contenido-principal{
        width: 100%;
        float: none;
    }
    #anuncio{
        width: 100%;
        float: none;
        /* creo que eso yo no lo */
    }
}